<h1>Insertar Producto</h1>

<br>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-6">
            <form #form="ngForm"  (ngSubmit)="addProducto()">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" 
                    name ="nombre" placeholder="Nombre del Producto" [(ngModel)]="NuevoProducto.nombre">
                   <input type="hidden" name="id" id="id" [(ngModel)]="NuevoProducto.id">
                  </div>
                </div>
                <br/>
                <div class="form-group row">
                  <label for="text" class="col-sm-2 col-form-label">Categoria</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="categorias" name="categorias" 
                    placeholder="Categoria de Producto" [(ngModel)]="NuevoProducto.categorias">
                  </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="descripcion" 
                      name ="descripcion" placeholder="Descripcion" [(ngModel)]="NuevoProducto.descripcion">
                    </div>
                  </div>
                  <br>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Precio</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="precio" 
                      name ="precio" placeholder="Precio del Producto" [(ngModel)]="NuevoProducto.precio">
                    </div>
                  </div>
                  <br>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Unidades</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="unidades" 
                      name ="unidades" placeholder="Unidades" [(ngModel)]="NuevoProducto.unidades">
                    </div>
                  </div>
                  <br>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Empresa</label>
                    <div class="col-sm-10">
                      
                      <select class="form-control" id="empresaID" 
                      name ="empresaID" placeholder="Empresa" [(ngModel)]="NuevoProducto.empresaID">
                      <option value="{{NuevoProducto.empresaID}}" selected="selected">Seleccione la Empresa...</option>
                      <option *ngIf="!(listadoEmpresas.length)">No se encuentran empresas</option>
                      <option  *ngFor="let emp of listadoEmpresas" value="{{emp.id}}">{{emp.nombre}}</option>
                      </select>

                    </div>
                  </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
                  </div>
                </div>
              </form>
        </div>
    </div>
    

</div>
