<h2>Listado de Empresas</h2>

<br>
<p *ngIf="!(arrEmpresas && arrEmpresas.length) else SiHayProductos">No existen empresas para mostrar.Loading....</p>
<button class="btn btn-primary" (click)="volverHome()" style="text-align: end;">ir a Home</button>




<ng-template #SiHayProductos>
<button (click)="FormInsertarEmp()"class="btn btn-success"  style="text-align: left;">Agregar Empresa</button>
<div class="container" *ngIf="(arrEmpresas && arrEmpresas.length)">
  

        <table class="table table-striped" >
            <thead>
              <tr>
                <!--<th scope="col">Id</th>-->
                <th scope="col">Nombre Empresa</th>
                <th scope="col">Direccion</th>
                <th scope="col">acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of arrEmpresas">
                <!--<th scope="row">{{emp.id}}</th>-->
                <input type="hidden" name="id" value="{{emp.id}}" #id>
                <td>{{emp.nombre}}</td>
                <td>{{emp.direccion}}</td>
                <td><button class="btn btn-warning" value="editar" (click)="Mostrar(id.value)">Editar</button>&nbsp;  
                    <button class="btn btn-danger" value="editar" (click)="Eliminar(id.value)">Borrar</button>
                </td>
              </tr>
 
            </tbody>
          </table>

  

</div>


</ng-template>
<!--*ngIf="(arrEmpresas && arrEmpresas.length)"-->